PORT=5000
MONGO_URI=your_mongodb_atlas_connection_string
JWT_SECRET=your_jwt_secret_key
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@gtap.com
ADMIN_PASSWORD=admin123
INTERNAL_API_KEY=your_secure_internal_api_key
